{{#each blogs as |blog|}}
	<div class="well">
		<div class="row">
			<div class="col-xs-10">
				<h4 class="panel-title">{{blog.subject}}</h4>
			</div>
			<div class="col-xs-2">
				<div class="btn-group pull-right" role="group">
					{{#if (and isAuthenticated (eq currentUser.id blog.userId))}}
						{{#link-to "blogs.edit" blog class="btn btn-default"}}
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						{{/link-to}}
						<button {{action "deleteBlogEntry" blog.id}} class="btn btn-default">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					{{/if}}
				</div>
			</div>
		</div>
		<div>
			{{blog.text}}
		</div>
	</div>
{{/each}}