{{#bs-navbar as |navbar|}}
	<div class="container">
		<div class="navbar-header">
			{{navbar.toggle}}
			<a class="navbar-brand" href="/">Blogs</a>
		</div>
		{{#navbar.content}}
			{{#navbar.nav as |nav|}}
				{{#nav.item}}
					{{#nav.link-to "blogs"}}Home{{/nav.link-to}}
				{{/nav.item}}
			{{/navbar.nav}}
			{{#navbar.nav class="navbar-right" as |nav|}}
				{{#bs-dropdown tagName="li" class="pull-right" as |dd|}}
					{{#dd.toggle}}<span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span>{{/dd.toggle}}
					{{#dd.menu as |menu|}}
						{{#if isAuthenticated}}
							{{#menu.item}}
								{{#menu.link-to "profile"}}Profile{{/menu.link-to}}
							{{/menu.item}}
							{{#menu.item}}
									<a {{action "logout"}}>Logout</a>
							{{/menu.item}}
						{{else}}
							{{#menu.item}}
								{{#menu.link-to "signup"}}Sign Up{{/menu.link-to}}
							{{/menu.item}}
							{{#menu.item}}
								{{#menu.link-to "login"}}Login{{/menu.link-to}}
							{{/menu.item}}
						{{/if}}
					{{/dd.menu}}
				{{/bs-dropdown}}
			{{/navbar.nav}}
		{{/navbar.content}}
	</div>
{{/bs-navbar}}