{{#bs-form formLayout="vertical" model=model onSubmit=(action "updateBlog") as |form|}}
	{{form.element controlType="text" label="Subject" placeholder="Subject" property="subject" required=true}}
	{{form.element controlType="textarea" label="Blog" placeholder="Blog" property="text" required=true}}
	{{bs-button defaultText="Save Blog" type="primary" buttonType="submit"}}
	{{#link-to "blogs" class="btn btn-default" activeClass=""}}
		Cancel
	{{/link-to}}
{{/bs-form}}
