{{outlet}}

<h1>Blog Posts</h1>
{{#if session.isAuthenticated}}
	<div style="margin-bottom: 10px">
	{{#link-to "blogs.new" class="btn btn-primary" activeClass=""}}
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Blog
	{{/link-to}}
	</div>
{{/if}}
{{blog-list
	blogs=model.blogs
	isAuthenticated=session.isAuthenticated
	currentUser=model.user
	deleteBlogEntry="deleteBlog"
}}