<div class="container">

	<form class="form-signin" {{action 'authenticate' on='submit'}}>
		<h2 class="form-signin-heading">Please login</h2>
		{{#if errorMessage}}
			{{#bs-alert type="danger"}}
				{{errorMessage}}
			{{/bs-alert}}
		{{/if}}
		<label for="username" class="sr-only">Username</label>
		{{input
			id='username'
			placeholder='Username'
			required="true"
			autofocus="true"
			class="form-control"
			value=identification
		}}
		<label for="inputPassword" class="sr-only">Password</label>
		{{input
			id='password'
			placeholder='Password'
			type='password'
			require="true"
			class="form-control"
			value=password
		}}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	</form>

</div> <!-- /container -->
