<h1>Profile</h1>

{{#bs-form formLayout="vertical" model=model onSubmit=(action "updateProfile") as |form|}}
	{{form.element disabled="true" controlType="text" label="Username" placeholder="Username" property="username"}}
	{{form.element controlType="text" label="Name" placeholder="Name" property="name"}}
	{{form.element controlType="text" label="Last Name" placeholder="Last Name" property="lastname"}}
	{{form.element controlType="text" label="Address" placeholder="Address" property="address"}}
	{{bs-button defaultText="Update Profile" type="primary" buttonType="submit"}}
	{{bs-button defaultText="Reset" onClick=(action "resetProfile")}}
{{/bs-form}}

{{outlet}}